// Son los estilos personalizados que se repiten en todas las vistas, por ejemplo, el header o el footer del sitio.
@font-face{
	font-family: MuseoSans;
	src: url(../fonts/texto/MuseoSans.otf);
}
@font-face{
	font-family: MuseoSans_0;
	src: url(../fonts/texto/MuseoSans_0.otf);
}
@font-face{
	font-family: Lato-Bold;
	src: url(../fonts/texto/Lato-Bold.ttf);
}
@font-face{
	font-family:Latolight;
	src: url(../fonts/texto/Latolight.ttf);
}
@font-face{
	font-family:NeutraText-DemiAlt;
	src: url(../fonts/titulares/NeutraText-DemiAlt.otf);
}
@font-face{
	font-family:NeutraText-LightAlt;
	src: url(../fonts/titulares/NeutraText-LightAlt.otf);
}
@font-face{
	font-family:NeutrafaceText-BooktAlt;
	src: url(../fonts/titulares/NeutrafaceText-BookAlt.otf);
}
.menu{
	padding: 0;
	nav{
		position: fixed;
		top:0;
		width: 100%;
		height: 70px;
		z-index: 100;
		background-color: transparent;
		transition: all 0.3s ease-in-out;
		figure{
			visibility: hidden;
			display: inline-block;
			position: relative;
	  		top: 15px;
	 		left: 40px;
		}
		.menu-desktop{
			position: relative;
		  	float: right!important;
		  	padding: 2% 0%;
		  	width: 460px;
		  	li{
				display: inline-block;
				padding: 0 3%;
				a{
					text-decoration: none;
					font-size:16px;
					font-weight: bold; 
				}
				button{
					background-color:#aaa;
					color: white;
					border-radius: 10px;
					padding: 5% 15%;
					font-size: 13px;
					} 
		  	}
	  		li:first-child{
	  			border-right: 1px solid #aaa;
	  		}
	  		li:nth-child(3){
	  			padding: 0;
	  		}
	  		div button{
	  			background-color: transparent;
	  			color: gray;
	  			padding: 5px 10px;
	  		}
	  		ul.dropdown-menu{
				position: absolute;
				width: auto;
				min-width: 100px!important;
				li{
					border: none;
					width: 100%;}
	  		}
		}
		/*Menú movil*/
		@media screen and (max-width: #{$screen-phone}){
			.farolito{
				position: absolute;
				left: 30%;
				top: 20px;
				img{
					height: 30px;
				} 
			}
			#perfil{
				position: absolute;
			  	right: 25px;
			  	top: 18px;
			  	background-color:#FF6A49;
			  	font-size: 11px;
			  	padding: 7px 12px;
			  	border-radius: 5px;
			}
			.toggle-menu{
				font-size: 15px;
				position: absolute;
			  	background-color: transparent;
			  	border: none;
			  	top: 16px;
			  	font-size: 20px;
			  	left: 10px;
			}
		}
	}
}
.menu.active{
	nav{
		position: fixed;
		top:0;
		background-color: #F0FBFD;
		figure{
			visibility: visible;
			transition: all 0.25s ease-in-out;
		}
	}
}

/*menu  mobil*/
#slider-left{
  	width: 100%;
  	height: 100%;
  	background-color: rgb(76, 205, 222);
  	position: fixed;
  	top: 0;
  	transform: translateX(-100%); 
  	z-index: 200;
  	transition: transform 0.6s ease;
  	
  	nav{ 
	  	ul{
		  	li{
				border-bottom: 2px dashed #fff;
				padding: 5%;
		  		font-size: 27px;
		  		&:nth-child(6){
		  			border:none;
		  		}
	  		}
	  		li:hover{
			  	background: #FF6A49;
			  	a:active{
			  	text-decoration: none;
			  	color: #fff;
				}
			}
		}
	}
	.container-toggle{
		background-color: #F0FBFD;
		height: 70px;
		#toggle-menu-mobil{
			  background-color: transparent;
			  border: none;
			  font-size: 20px;
			  position: absolute;
			  top: 15px;
			  right: 10px;
		}
	}
	/*.container-toggle{
		background-color: #F0FBFD;
		height: 60px;
		.toggle-menu-mobil{
  			border: none;
  			position: absolute;
	  		left: 25px;
	  		top: 27px;
	  		list-style-type: none;
	  		cursor: pointer;
	  		transform: translateX(0);
		  	z-index: 210;
		  	transition: transform 0.6s ease;
			li{
  				height: auto;
  				border: none;
  				.toggle-menu-bar{
					display: block;
					width: 25px;
					height: 3px;
					background-color: #9E9D9D;
					-webkit-border-radius: 3px; 
					-moz-border-radius: 3px;
					border-radius: 3px;
					margin-bottom:3px;
			  	} 
		  		.toggle-menu.slide{
					transform: translateX(90%);
				}
  			}
		}
	}*/
 }
 #slider-left.open {
  	transform: translateX(0);
}
#slider-left.slide{
	transform: translateX(-100%);
}