// Son los estilos personalizados que se repiten en todas las vistas, por ejemplo, el header o el footer del sitio.
@font-face{
	font-family: MuseoSans;
	src: url(../fonts/texto/MuseoSans.otf);
}
@font-face{
	font-family: MuseoSans_0;
	src: url(../fonts/texto/MuseoSans_0.otf);
}
@font-face{
	font-family: Lato-Heavy;
	src: url(../fonts/texto/Lato-Heavy.ttf);
}
@font-face{
	font-family:Latolight;
	src: url(../fonts/texto/Latolight.ttf);
}
@font-face{
	font-family:NeutraText-DemiAlt;
	src: url(../fonts/titulares/NeutraText-DemiAlt.otf);
}
@font-face{
	font-family:NeutraText-LightAlt;
	src: url(../fonts/titulares/NeutraText-LightAlt.otf);
}
@font-face{
	font-family:NeutrafaceText-BooktAlt;
	src: url(../fonts/titulares/NeutrafaceText-BookAlt.otf);
}