//Colocar aquí clases utilitarias para todo el sitio. Por ejemplo: márgenes, alineación de texto y color de texto.
.text-white{
	color:#fff;
}
.text-red{
	color: #FF6A49;
}
.text-skyblue{
	color: #58C6E7;
}
.text-gray{
	color: #9E9D9D;
}
.text-yellow{
	color:#fcf07e;
}
.mtp-70{
	margin-top:70%;
}
.ptp-35{
	padding-top:35%;
}
.title-subtitle{
	font-family: "NeutraText-DemiAlt";
}
ptp-5{
	padding-top: 5%
}
.button{
	padding: 1% 5%;
	border-radius:15px;
}
.button-red{
	background-color: #FF6A49;
}