//Colocar aquí clases utilitarias para todo el sitio. Por ejemplo: márgenes, alineación de texto y color de texto.
.text-white{
	color:#fff;
}
.text-red{
	color: #FF6A49;
	font-family:"Lato-Bold";
}
.text-skyblue{
	color: #58C6E7;
	font-weight:bold;
}
.text-gray{
	color: #9E9D9D;
}
.text-yellow{
	color:#fcf07e;
}
.mtp-70{
	margin-top:70%;
}
.ptp-35{
	padding-top:35%;
}
ptp-5{
	padding-top: 5%
}
.family-latobold{
	font-family:"Lato-Bold";
}
.button{
	padding: 1% 5%;
	border-radius:10px;
}
.button-red{
	background-color: #FF6A49;
	color: #fff;
	&:hover{
		background-color:#ff4016;
		border-color: #f12c00;
	}
}
button{
	border: transparent;
	font-weight: bold;
}
.scroll{
	position: relative;
	text-align: center;
}
